# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/Fparticipative.iml
.idea/dbnavigator.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/symfony2.xml
.idea/workspace.xml
.app/config/parameters.yml
