{% extends '@Acteur/public/Template/Materialize/layout.html.twig' %}
{% block stylesheet %}

{% endblock %}
    {% block menu %}
        {% include'@Acteur/Donateurs/Partials/_nemu.html.twig' %}
    {% endblock %}
{% block contenuprincipal %}
    <div class="row" style="margin-top: 42px">

            <div class="col s8 m8 l8 offset-s2 offset-l2 offset-m1">
                <div class="card-panel">
                <div class="row">
                    <div class="col s12 m12 l12 ">
                        <p> Vous venez d'investir {{ projet.montant|number_format(0, ' ', ' ') }} FCA sur le projet {{ projet.projet.nomProjet }}
                        </p>
                        <p> Soutenir un projet et le promoteur du projet vous remercient infinement.
                        </p>
                        <p> Restez à l'ecoute pour suivre la realisation et l'evolution du projet.
                        </p>
                        <p> Une fois encore merci merci pour votre soutien.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
