
{#{% extends "@FOSUser/layout_user_form.html.twig" %}#}
{% extends ":accueil:index.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
     {% block contenu %}
         <div class="container" style="margin-top: 25px; margin-bottom: 30px">
             <div class="row">
                 <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-xs-12 col-xs-pull-0 col-sm-12 col-sm-pull-0">
                     <div class="donateur-details-content" style="">
                         <h3>logo</h3> <hr/>

                     </div>
                 </div>
                 <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-xs-12 col-xs-push-0 col-sm-12 col-sm-push-0">

                     <div class="donateur-details-content" style="">
                         <h3>Inscription.</h3> <hr/>

                         <h1> Code d'activation recu par SMS ou par email </h1> <br/>
                         <h3>
                         S'il vous plaît entrer le code reçu par SMS ou par email, une seule méthode d'activation serait suffisante
                         </h3>
                         {{ include('@Acteur/Promotteurs/Partials/code_verification2.htm.twig') }}


                 </div>
             </div>
             </div>
         </div>
     {% endblock %}
{% block javascript %}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script>
        function remplissage(e, elem){
            e.preventDefault();
            var code = $('.code_inscription').val();
            // alert(parent.html());

                $.ajax({
                    type: 'get',
                    url: Routing.generate('codeverification', {code: code}),
                    dataType: "json",
                    // data: {
                    //     term: request.term
                    // },
                    function(response){
                        if(response.success){
                            $("#card-alert-succes").show()
                            $("#card-alert-error").hide()
                        }
                        else{
                            $("#card-alert-succes").hide()
                            $("#card-alert-error").show()
                        }
                    },


                })


        }
        function aButtonPressed(){

            var code = $('.code_inscription').val();

            $.post(
                Routing.generate('codeverification', {code: code}),


                function(response){
                    if(response.success){
                        $("#card-alert-succes").show()
                        $("#btn_validation").show()
                        $("#card-alert-error").hide()
                         $("#form_code").submit()
                    }
                    else{
                        $("#card-alert-succes").hide()
                        $("#btn_validation").hide()
                        $("#card-alert-error").show()
                    }
                },
                "json"
            );
        }
        jQuery(document).ready(function() {
            //$("body").delegate("#addItem", "click", addItem)
            // Get the ul that holds the collection of tags
            $("#card-alert-succes").hide()
            $("#btn_validation").hide()
            $("#card-alert-error").hide()
            $('.code_inscription').on('blur', function(){aButtonPressed();});
            $('.code_inscription').on('focus', function(){
                $("#card-alert-succes").hide()
                $("#card-alert-error").hide()
                $("#btn_validation").hide()
            });

        });

        function inscription2() {
           $("#form_code").submit()
        }
    </script>

{% endblock %}