
<img width=100 height=100 src="{{ asset('bundles/frontend/img/logo.png') }}">
<h2> Salut {{ porteur_nom }}{{porteur_prenom }} !!!</h2>
<h2>Plus qu'une étape pour creer votre compte.</h2>

<h3>Ceci est votre code de validation: {{ code }} </h3>
