<h3>
   Nouveau projet
</h3>
<h3>
    un nouveau projet viens d"etre soumis
<div class="row">
    <div class="col m12">
        <h2 align="center">   {{ projet.nomProjet }} </h2>
    </div>
</div>
<div class="row">
    <div class="col m5">
        <center>  <img src="{{ app.request.getSchemeAndHttpHost() ~ asset ('uploads/admin/images/')}}{{ projet.logo  }}" align="center" width="60%"></center>
    </div>
    <div class="col m7">
        <p> {{ projet.descriptionCourteProjet  }} </p>
    </div>
</div>