
<img width=100 height=100 src="{{ asset('bundles/frontend/img/logo.png') }}">


<p>Le comite d'organisation de soutenir un projet  et le prometteur du projet: {{ don.projet.nomProjet  }} vous remercient pour votre participation</p>

<p>N'hesite pas a revenir sur notre plateforme pour soutenir d'autre projet
<p>une fois encore merci</p>